<div class='well well-sm'>
  <div class='media'>

    <%= link_to user_path(@post.user), class:'thumbnail pull-left' do %>
        <%= image_tag(@post.user.avatar.url(:thumb),class:'media-object',style:'width:100px;height:100px') %>
    <% end %>

    <div class='media-body '>
      <h4 class='media-heading'>&nbsp;&nbsp;<%= @post.user.name.titleize %></h4>
      <% if @post.user.skill %>
      <p class=''> &nbsp;&nbsp;<%= @post.user.skill.titleize %></p>
          <% end %>
      <%=link_to  article_path(@user.id) do %>
          <p><span class='label label-info'><%= @user.posts.count %> posts
      <%end%></span>

      <span class='label label-primary'><%= @user.received_invites.count %> followers</span>
            <span class="">
            <% if @post.score == 0 %>
                <%= link_to  like_post_path(@post), method: :put, class:'btn btn-xs btn-default' do %>
                    <i class='glyphicon glyphicon-heart'></i> Like <%end%>
            <% else %>
                <%= link_to  like_post_path(@post), method: :put, class:'btn btn-xs btn-default' do %>
                    <i class='glyphicon glyphicon-heart'></i>
                      <%= @post.get_upvotes.size %>
                <%end %>
            <%end %>
            </span>
      </p>

      <!--<a href='#' class='btn btn-xs btn-default'><span class='glyphicon glyphicon-comment'></span> Message</a>-->

      <% if current_user %>
          <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
              <%= f.hidden_field :invited_id, value: @user.id %>
              <%= f.submit 'follow', class: 'btn btn-xs btn-success',input_html:{rows:1,cols:1} %>
          <% end %>
      <%else%>
          <%= link_to  new_user_session_path do%>
              <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow</button>
          <%end%>
      <% end %>

    </div>
  </div>
</div>