<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Categories</h4>
  </div>
  <ul class='list-group'>
    <% Category.all.each do |category| %>
        <li class='list-group-item'>
          <%= link_to category.name, posts_path(category: category.name)%>
        </li>
    <% end %>
  </ul>
</div>