<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Cloud Tags</h4>
  </div>
  <div class='panel-body'>
          <span class='' id="tag_cloud">
              <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
                  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
              <% end %>
          </span>
  </div>
</div>