<div class='discussion' >
  <h4><%= @comments.count %><em>&nbsp;<a name='comments'>Comments</a>&nbsp;</em></h4>
  <hr>
  <!-- Comments -->
  <% if !@comments.blank? %>
      <div id='comments' class="row scroll"><%= render @post.comments %></div>
  <% end %>
  <!--Comment form-->
  <% if user_signed_in? %>
      <%= render 'comments/form' %><!-- comment form-->
  <% else %>
      <h3>Would you like to comment?</h3>
      <h4>You must be a member. <%= link_to ' sign in', new_user_session_path %> if you are already a member.</h4>
  <% end %>
  <hr>
</div>