<!-- My Latest Posts -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>My Latest Articless</h4>
  </div>
  <ul class="list-group">
    <% @latest_posts.each_with_index do |post,index|%>
        <li class="list-group-item">
          <%= link_to post do %><%= index + 1 %>.
            <%= post.title %> - April 19
          <%end %>
        </li>
    <% end %>
  </ul>

</div>