 <div class="top-spacer"></div>
  <% @related_articles.each do | related_article | %>
      <div class='col-sm-6 col-md-6'>
        <% if !related_article.nil? %>
            <div class='thumbnails'>
              <div class='thumbnail'>

                    <%= image_tag(related_article.image.url(:large), class:'img-responsive') %>
                <% end %>
                <h3><%= link_to related_article.title, post_path(related_article) %></h3>
                <% if related_article.excerpt %>
                    <p><%= link_to related_article.excerpt[0..200], post_path(related_article) %></p>
                <% end %>
                  <p align='center'><%= link_to 'Read', post_path(related_article), class:'btn btn-primary btn-block' %></p>
                </div>
              </div>
            </div>

  <% end %>
 <span class="pull-left"><%= paginate(@related_articles) %></span>