<!--<div>
  <%#= image_tag avatar_url(comment.user.email),class:'round-avatar' %>&lt;!&ndash;this is using wordpress avatar&ndash;&gt;
      <p class="pull-left ">
        <%= link_to user_path(comment.user), class:"story-title" do %>
            <%= image_tag(comment.user.avatar.url(:thumb),class:"img-circle",style:"width:30px;height:30px") %>
        <% end %>
      <p class="comment_content"><%= comment.body %></p>
      <span class="pull-right text-muted comment_author">
        <%= link_to user_path(comment.user), class:"story-title" do %>
            <%= comment.user.name.titleize %>
        <% end %>
        &nbsp;<%= time_ago_in_words(comment.created_at)%> ago
      </span>
      <div class="top-spacer"> </div>

      <%= link_to 'Edit', edit_post_comment_path(comment.post, comment),class: 'button' %>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' },class: 'button'%>
      <div class="top-spacer"> </div>
      <hr>
</div>-->

<section class="comments">
  <article class="comment">

    <%= link_to user_path(comment.user), class:"comment-img" do %>
        <%= image_tag(comment.user.avatar.url(:thumb),style:"width:50px;height:50px") %>
    <% end %>
    <div class="comment-body">
      <div class="text">
        <p><%= comment.body %></p>
      </div>
      <p class="attribution">by <%= link_to user_path(comment.user), class:"story-title" do %>
            <%= comment.user.name.titleize %> <% end %>
        &nbsp;at <%= l(comment.created_at, format: '%H:%M:%S, %d %B %Y ')%> </p>

      <p class="pull-right">
        <% if user_signed_in? %>
            <%if comment.user == current_user %>
                <small class='btn btn-inverse' ><%= link_to edit_post_comment_path(comment.post, comment) do %>
                    <i class='glyphicon glyphicon-edit'></i></small>
                <%end %>
                | <small class='btn btn-inverse'><%= link_to  [comment.post, comment], method: :delete,
                    data: {confirm: 'Are you sure you want to delete this permanently?'} do %>
                        <i class='glyphicon glyphicon-trash'></i></small>
                <% end %>
            <% end %>
        <% end %>
      </p>
    </div>
    </article>
</section>​