<!-- Comment form -->

<%= simple_form_for ([@post, @post.comments.build]) do |f| %>

    <% if @post.comments.build.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class=" form-group-sm">
    <%= f.input :body,label: 'Reply :', input_html: { maxlength: 250,placeholder:"Your comments",rows:1 }%>
    <%= f.button :submit,'Add', class:'btn btn-primary ' %>
</div>
<% end %>




