<h1>Followship </h1>

<div class="row">
  <div class="col-md-2">
    <% @sent_invites.each do |invitation| %>
    <div class="well well-sm">

              <%= image_tag(invitation.invited_user.avatar.url(:thumb), class: 'avatar' ,style:'width:50px;height:50px') %>
              <h5><%= link_to invitation.invited_user.full_name.titleize, user_path(invitation.invited_user) unless invitation.invited_user.full_name.blank? %></h5>

          <div class="">
            <div class="btn-toolbar card-body-social" role="toolbar">
              <% if invitation.invited_user.twitter_acc? %>
                  <%= link_to invitation.invited_user.twitter_acc, target:'blank'  do%>
                      <div class="btn-group twitter fa fa-twitter"></div>
                  <% end %>
              <% end %>
              <%# if @user.facebook_acc? %>
                  <%= link_to invitation.invited_user.facebook_acc, target:'blank'  do%>
                      <div class="btn-group facebook fa fa-facebook"></div>
                  <% end %>
              <%# end %>
              <%# if @user.gplus_acc? %>
                  <%= link_to invitation.invited_user.gplus_acc, target:'blank'  do%>
                      <div class="btn-group google-plus fa fa-google-plus"></div>
                  <% end %>
              <%# end %>
            </div>
        </div>

      </div>
    <% end %>
    </div>
</div>












<hr>
<!--<div class="row">
 <%# if @received_invites.any? %>
    <div class="col-sm-6 col-md-3 profile">
      <div class="well ">
        <h3>Followers</h3>
        <%# @received_invites.each do |invitation| %>
          <%#= image_tag(invitation.invited_user.avatar.url(:thumb), class: 'avatar' ,style:'width:30px;height:30px') %>
          <h5><%#= link_to invitation.invited_user.full_name.titleize, user_path(invitation.invited_user) unless invitation.invited_user.full_name.blank? %></h5>
          <%#= content_tag(:h5, ("Skill:  " + invitation.invited_user.skill)) unless invitation.invited_user.skill.blank? %>
        <%# end %>
      <div class="text-center">
        <div class="btn-toolbar card-body-social" role="toolbar">
         <div class="btn-group twitter fa fa-twitter"></div>
         <div class="btn-group facebook fa fa-facebook"></div>
         <div class="btn-group google-plus fa fa-google-plus"></div>
        </div>
      </div>
      </div>
    </div>
 <%# end %>
</div>-->

<%#= paginate(@received_invites) %>