<!--users list : Members-->
<% provide(:title, 'Members') %>
<div class="container">
  <div  class="row users ">

    <% @users.each do |user| %>
        <div class="panel panel-default">
          <%= link_to user_path(user) do %>
              <div class="panel-body">
                <%= image_tag(user.avatar.url(:square)) %>
                <p><%= user.full_name %></p>
                <small class="text-muted "><em><%= user.skill %></em></small>
              </div>
          <% end %>
        </div>
     <% end %>
  </div>
  <%= paginate(@users) %>
</div>