<% provide(:title, 'Profile') %>
<% breadcrumb :user %>
<div class='row profile'>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
          <div class="well profile">
            <div class="col-sm-12">
              <div class="col-xs-12 col-sm-8">
                <h2><%= (@user.full_name.titleize) unless @user.name.blank? %></h2>
                <p><strong>About: </strong><%= @user.about unless @user.about.blank?%></p>
                 <p><strong>Skills: </strong><%= @user.skill unless @user.skill.blank?%></p>
              </div>
              <div class="col-xs-12 col-sm-4 text-center">
                <figure>
                  <%= image_tag(@user.avatar.url(:thumb) ,style:'width:120px;height:120px') %>
                  <figcaption class="">

                    <div class="pull-right">
                      <div class="btn-toolbar card-body-social" role="toolbar">
                        <% if @user.twitter_acc? %>
                            <%= link_to @user.twitter_acc, target:'blank'  do%>
                                <div class="btn-group twitter fa fa-twitter"></div>
                            <% end %>
                        <% end %>
                        <% if @user.facebook_acc? %>
                            <%= link_to @user.facebook_acc, target:'blank'  do%>
                                <div class="btn-group facebook fa fa-facebook"></div>
                            <% end %>
                        <% end %>
                        <% if @user.gplus_acc? %>
                            <%= link_to @user.gplus_acc, target:'blank'  do%>
                                <div class="btn-group google-plus fa fa-google-plus"></div>
                            <% end %>
                        <% end %>
                      </div>
                      <p><% if @user == current_user %>
                          <%= link_to 'Update Profile', edit_user_registration_path%>
                      <% end %></p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="col-xs-12 divider text-center">
              <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong><%= @user.received_invites.count %></strong></h2>
                <p><small>Followers</small></p>

                <% if current_user %>
                    <% @relationship = current_user.sent_invites.where(invited_id: @user.id).first %>
                    <% if @relationship %>
                        <%= link_to 'Unfollow', @relationship, class: 'btn btn-danger btn-block', method: :delete %>
                    <% else %>
                        <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
                            <%= f.hidden_field :invited_id, value: @user.id %>
                            <%= f.submit 'Follow', class: 'btn btn-success btn-block ' %>
                        <% end %>
                    <% end %>
                    <%else%>
                        <%= link_to  new_user_session_path do%>
                            <button class="btn btn-success btn-block">
                              <span class="fa fa-plus-circle"></span> Follow</button>
                        <%end%>
                <% end %>
              </div>
              <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong><%= @user.sent_invites.count %></strong></h2>
                <p><small>Following</small></p>
              </div>
              <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong><%= @user.posts.count %></strong></h2>
                <p><small>Articles</small></p>

                <button class="btn btn-default btn-block">
                  <%=link_to  article_path(@user.id)  do%>
                      <span class="fa fa-book"></span> View Articles
                  <% end %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

