
<%= simple_form_for(@post, multipart: true) do |f| %>
    <div class="row error_message"><%= render 'shared/error_messages', object: f.object %></div>

      <div class="row">
        <!--Media-->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box">
            <div class="box-icon">
              <span class="fa fa-4x fa-image"></span>
            </div>
            <div class="info">
              <h5 class="text-left"><span class="text-blue">
                <%= f.input :image, label:'Main Image' %></span></h5>
                <br>
              <h5 class="text-left">
                <%= f.input :caption,label:'Caption: display title on your image',  placeholder: 'Add a caption...',class: 'form-control',input_html: { maxlength: 100 },hint:'max-length 100 characters'%>
              </h5>
              <br>
            </div>
          </div>
        </div>
        <!-- Title & Excerpt-->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="box">
            <div class="box-icon">
              <span class="fa fa-4x fa-edit"></span>
            </div>
            <div class="info">
              <h5 class="text-left"><%= f.input :title, label:'Title',  placeholder: 'Ex.My Title',class: 'form-control',input_html: { maxlength: 100 },hint:'max-length 100 characters' %>
              </h5>
              <h5 class="text-left"><%= f.input :excerpt, label:'Excerpt',  placeholder: 'My Article\'s Summary',class: 'form-control',input_html: { maxlength: 250 },hint:'max-length 250 characters' %>
              </h5>
            </div>
          </div>
        </div>
    </div><!--End row-->


    <!--Content-->
    <div class="box">
      <div class="info">
        <h5 class="text-left">
          <%= f.input :body, label:'Content', as: :wysihtml5,class: 'wysihtml5', hint:'minimum length 250 characters'%>
        </h5>
      </div>
    </div>

    <!--Filters-->
    <div class="">
      <div class="box">
        <div class="info">
          <!--Slug-->
         <!-- <h5 class="text-left"><%= f.input :slug, label:'Friendly URL',  placeholder: ' Firndly Title',class: 'form-control',input_html: { maxlength: 100 },hint:'max-length 100 characters' %>
          </h5>-->
          <!--Tags-->
          <h5 class="text-left">
            <%= f.input :tag_list,label: 'Tags', class: 'form-control',  placeholder: 'Tags (separated by commas , ). Ex.Sales,Marketing',input_html: { maxlength: 100 },hint: 'max-length 100 characters.' %>
          </h5>
          <!--Categories-->
          <h5 class=" text-left text-blue">Category </h5>
          <h5 class="text-left">
            <%= f.collection_select :category_id, Category.all, :id, :name,{prompt: "Choose a category" }, input_html: { class: "dropdown-toggle" }%>
          </h5>
        </div>
      </div>
    </div>
    <div class="top-spacer"></div>
    <!--Submit button-->
    <%= f.button :submit, 'Publish', class: 'btn btn-primary btn-block btn-lg' %>
<% end %>
