<% provide(:title, 'Posts') %>
<% breadcrumb :edit_post, @post %>
<h1>Edit Article</h1>
<div class="top-spacer"> </div>
<div class="col-sm-8 col-md-8 center-block">
  <% if @post.image.file? %>
<%#= image_tag(@post.image.url(:medium), class: 'avatar') %>
    <%= image_tag(@post.image.url(:large), class:'img-responsive') %>
  <% end %>

<div class="top-spacer"> </div>
<%= render 'form', post: @post %>

<div class="top-spacer"> </div>
<p><%= link_to 'Delete', @post, method: :delete,
               data: {confirm: "Are you sure you want to delete this permanently?"},class: 'btn btn-danger btn-sm' %></p>
<p><%#= link_to 'back', post_path(@post) %></p>
</div>
