<!--/Posts-->
<% provide(:title, 'Home') %>
<% breadcrumb :root %>

<% @posts.each do |p| %>
<div class="row dark">
  <br>
  <!-- Left profile -->
  <div class="col-md-2 col-sm-3 text-left">
   <%= link_to user_path(p.user), class:'story-title' do %>
     <%= image_tag(p.user.avatar.url(:thumb),class:'img-circle',style:'width:60px;height:60px') %>
   <%end %>
   <span><br>
     <% if p.user.skill? %>
       <small><%= p.user.skill.titleize %></small>
     <% end %>
   </span><br>

   <!--Social Share  -->
   <div class="pull-right">

      <!-- Facebook -->
     <% if p.user.facebook_acc? %>
         <%= link_to p.user.facebook_acc, class:'btn btn-facebook btn-xs',target:'blank'  do%>
             <i class="fa fa-facebook"></i>
         <% end %>
     <% end %>
      <!-- Twitter -->
     <% if p.user.twitter_acc? %>
         <%= link_to p.user.twitter_acc, class:'btn btn-twitter btn-xs',target:'blank'  do%>
             <i class="fa fa-twitter"></i>
         <% end %>
     <% end %>
      <!-- Google+ -->
     <% if p.user.gplus_acc? %>
         <%= link_to p.user.gplus_acc, class:'btn btn-googleplus btn-xs',target:'blank'  do%>
             <i class="fa fa-google-plus"></i>
         <% end %>
     <% end %>
    </div>
   <!--End oof Social Share-->
  </div>
 <br>
  <!--Article metadata-->
  <div class="col-md-7 col-sm-6">
    <div>
    <h3><%= link_to p.title.titleize, post_path(p.id) %></h3>
    <h4>
      <small class='glyphicon glyphicon-user'><%= p.user.name.titleize %></small>
      <% if p.user.country_code?%>
        <small class='glyphicon glyphicon-globe text-muted '><%= p.user.country_name %></small><br>
          <% end %>
      <small style="font-family:courier,'new courier';" class='text-muted'><%=  time_ago_in_words(p.created_at) %> ago
        &nbsp;&nbsp;
        <i class="glyphicon glyphicon-eye-open"></i>
        <%= p.impressionist_count(:filter=>:ip_address) %>
          <%#= p.score "//i.e.usage(like - dislike)//" %>
      </small>
    </h4>
    <!--<small><i>Tags: </i></small> <%#= raw (p.friendly.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')).titleize %><br>-->

      <!--<small><i>Category:</i></small> <%#= link_to p.category.name, posts_path(p: p.category.name)%>-->

    </div><br>

    <!--Content-->
    <div class='wrapper'>
      <% if p.excerpt.blank?%>
        <% if p.body.size > 250  %>
          <p><%= p.body[0..250].html_safe %><small style="font-family:courier,'new courier';"class='text-muted'>
            <%= link_to '...Continue Reading', post_path(p.id), class:'text-muted'%></small>
          </p>
        <% else %>
          <p><%= p.body.html_safe %></p>
        <%end %>
      <% else %>
        <p><%= p.excerpt.html_safe %><small style="font-family:courier,'new courier';" class='text-muted'>
          <%= link_to '...Continue Reading', post_path(p.id), class:'text-muted'%></small>
        </p>
      <% end %>
      <!-- image -->
      <% if p.image.file? %>
        <%= link_to p do %>
          <%= image_tag(p.image.url(:large), class:"img-responsive") %>
          <!-- image description content div -->
          <% if p.caption? %>
            <div class='caption'>
              <p class='description_content'><%= p.caption.titleize %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <div class='image-footer'>
      <div class='pull-right'>
        <%= link_to  like_post_path(p), method: :put do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <%= p.get_upvotes.size %>
        <%end%>
        <%= link_to  dislike_post_path(p), method: :put do %>
            <i class="glyphicon glyphicon-thumbs-down"></i>
            <%= p.get_downvotes.size %>
        <%end%>&nbsp;&nbsp;
        <i class="glyphicon glyphicon-share"></i>
      </div>
      <br><br>
    </div>
  </div>
  </div>
</div>
    <div class="top-spacer"></div>
    <div class="bottom-spacer"></div>
<% end %>

<span class="pull-right"><%= paginate(@posts) %></span>


