<!--
<h1>Articles Search</h1>

<div class='row'>
  <div class="top-spacer"></div>
  <#% @posts.each do |p| %>
      <div class='col-sm-6 col-md-6'>
        <%# if !p.nil? %>
            <div class='thumbnails'>
              <div class='thumbnail'>
                <%# if p.image.file? %>
                    <%#= image_tag(p.image.url(:large), class:'img-responsive') %>
                <%# end %>
                <div class=''>
                  <h3><%#= link_to p.title, post_path(p.id) %></h3>
                  <p><%#= link_to p.excerpt[0..200], post_path(p.id) %></p>
                  <p align='center'><%#= link_to 'Read', p, class:'btn btn-primary btn-block' %></p>
                </div>
              </div>
            </div>
        <%# end %>
      </div>
  <%# end %>
</div>-->
