<!--  Post Body -->
<% provide(:title, 'Article') %>
<% breadcrumb :post, @post %>
<hr>
  <div class='row'>
    <div class='col-md-8'>
      <article>
        <h1><%= @post.title.titleize %></h1>

        <div class='row'>
          <!--Post metadata-->
          <div class='col-sm-6 col-md-6'>
            <p><small><i>Author: </i><%= @post.user.name.titleize %></small>
              &nbsp;&nbsp;<span class='glyphicon glyphicon-time'>&nbsp;</span><%= time_ago_in_words(@post.created_at)%> ago
            </p>
            <% if @post.user == current_user %>
              <small class='btn btn-inverse' ><%= link_to edit_post_path(@post) do %>
                <i class='glyphicon glyphicon-edit'></i>
              <%end %>
              </small>
              | <small class='btn btn-inverse'><%= link_to  @post, method: :delete,
                         data: {confirm: 'Are you sure you want to delete this permanently?'} do %>
                <i class='glyphicon glyphicon-trash'></i>
              <% end %>
              </small>
            <% end %>
          </div>
          <div class='col-sm-6 col-md-6'>
            <a href='#comments'><%= @comments.count %> Comments</a>&nbsp;&nbsp;
            <%= link_to  like_post_path(@post), method: :put do %>
                <i class='glyphicon glyphicon-thumbs-up'></i>
                <%= @post.get_upvotes.size %>
            <%end%>
            <%= link_to  dislike_post_path(@post), method: :put do %>
                <i class='glyphicon glyphicon-thumbs-down'></i>
                <%= @post.get_downvotes.size %>
            <%end%>
            &nbsp;&nbsp;
                <i class='glyphicon glyphicon-eye-open'></i>
                <%= @post.impressionist_count(:filter=>:ip_address) %>
            </div>
        </div>
        <hr>
        <!--Main image-->
          <% if @post.image.file? %>
            <%= image_tag(@post.image.url(:large), class:'img-responsive') %>
          <% end %>
          <br />
          <!--Content-->
          <% if @post.excerpt.present? %><!--Excerpt-->
            <p class="lead"><%= @post.excerpt  %><p>
          <% end %>
          <div class="top-spacer"></div>
          <p><%= @post.body.html_safe %></p><!--Body>
          <!--Tags-->
          <% @post.tags.any? %>
            <% @post.tags.each do |tag| %>
              <span class='label label-primary'><%= link_to tag.name, tag_path(tag.name),class: ' text-white' %></span>
      </article>
      <hr>
      <!-- Discussion Section -->
      <%= render 'posts/section/discussion' %>
      <!--Related Articles-->
      <% if !@related_articles.blank? %>
         <h4> Related Articles</h4><h6 class="pull-right"><i><%= link_to'View All', tag_path(tag.name) %> </i></h6>
      <% end %>
      <div class="top-spacer"></div>
        <% end %>
      <%= render 'posts/section/related_articles' %>
    </div><!-- End main post-->

    <!--Sidebar-->
    <div class='col-md-4'>
      <!--About Me-->
      <%= render 'posts/section/about' %>
      <!-- My Latest Posts -->
      <%= render 'posts/section/my_latest_posts' %>
      <!-- Cloud Tags -->
      <%= render 'posts/section/cloud_tags' %>
      <!-- Categories -->
      <%= render 'posts/section/categories' %>
    </div>
  </div>
