<!--/Posts-->
<% provide(:title, 'Home') %>
<% breadcrumb :root %>
<% @posts.each do |p| %>
    <div class="row">
      <br>
      <div class="col-md-2 col-sm-3 text-left">

        <%= link_to user_path(p.user), class:"story-title" do %>
            <%= image_tag(p.user.avatar.url(:thumb),class:"img-circle",style:"width:60px;height:60px") %>
        <%end %>
        <p><small><%= p.user.name.titleize %></small></p>
        <p><small><%= p.user.skill.titleize %></small></p>
        <%= link_to  like_post_path(p), method: :put do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <%= p.get_upvotes.size %>
        <%end%>
        <%= link_to  dislike_post_path(p), method: :put do %>
            <i class="glyphicon glyphicon-thumbs-down"></i>
            <%= p.get_downvotes.size %>
        <%end%>
      </div>

      <div class="col-md-8 col-sm-9">
        <h3><%= link_to p.title.titleize, post_path(p.id) %></h3>
        <h4><small style="font-family:courier,'new courier';" class="text-muted"><%=  time_ago_in_words(p.created_at) %> ago
          • <%= link_to 'Posted from Brazil', post_path(p.id), class:"text-muted"%>
          &nbsp;&nbsp;
          <%= link_to  posts_path, method: :put do %>
              <i class="glyphicon glyphicon-eye-open"></i>
              <%= p.score %>
          <%end%>
        </small>
        </h4>
        <h4><span class="label label-default"><%#= p.tag %></span></h4>


        <% if p.excerpt.blank?%>
            <% if p.body.size > 250  %>
                <p><%= p.body[0..250].html_safe %><small style="font-family:courier,'new courier';"class="text-muted">
                  <%= link_to '...Continue Reading', post_path(p.id), class:"text-muted"%></small>
                </p>
            <% else %>
                <p><%= p.body.html_safe %></p>

            <%end %>
        <% else %>
            <p><%= p.excerpt.html_safe %><small style="font-family:courier,'new courier';"class="text-muted">
              <%= link_to '...Continue Reading', post_path(p.id), class:"text-muted"%></small>
            </p>
        <% end %>

        <% if p.image.file? %>
            <%= link_to p do %>
                <%= image_tag(p.image.url(:large), class:"img-responsive") %>
            <% end %>
        <% end %>
        <div class="top-spacer"></div>

        <!--Social Share  -->
        <div class="pull-right">

          <!-- Facebook -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook btn-xs"><i class="fa fa-facebook"></i></a>
          <!-- Twitter -->
          <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter btn-xs "><i class="fa fa-twitter"></i></a>
          <!-- Google+ -->
          <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus btn-xs"><i class="fa fa-google-plus"></i></a>
          <!-- LinkedIn -->
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin btn-xs"><i class="fa fa-linkedin"></i></a>
        </div>
        <!--End oof Social Share-->

        <div class="row">
          <div class="col-xs-9"></div>
          <div class="col-xs-3"></div>
        </div>
        <br><br>
      </div>
    </div>
    <hr>
<% end %>
<%#= paginate(@posts) %>


