@import "bootstrap-sprockets";
@import "bootstrap";


.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }
.alert {
  top: -0px;
  left:0;
  right: 0;
  position:absolute;
}

/* override bootstrap styles */
//@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
  font-size: 16px;
  line-height: 1.69859143;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;

}

#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#633999;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}
.bottom-spacer {
  background-color:#e6e6e6;
  box-shadow: #493182;
  height:10px;
  width: 100%;
  margin-top: 40px;
  -moz-box-shadow: 1px 1px 3px #444;
  -webkit-box-shadow: 1px 1px 3px #444;
  box-shadow: 1px 1px 3px #444;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');

}

a,a:hover {
  color:#5B7CCC;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

/*****Glyphicon******/

i.glyphicon-thumbs-up { color: #1abc9c; }
i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 5px; }
i.glyphicon-heart { color: #e74c3c; padding-left: 5px; }

.breadcrumb {
  background-color: transparent;
}
/****Custom Editor Toolbar ****/
ul.wysihtml5-toolbar li a[title="Insert image"] { display: none; }
ul.wysihtml5-toolbar li a[title="Insert link"] { display: none; }
ul.wysihtml5-toolbar li a[title="Indent"] { display: none; }
ul.wysihtml5-toolbar li a[title="Outdent"] { display: none; }
//ul.wysihtml5-toolbar li.dropdown { display: none; }

/****Custom Code Highlight******/
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #fff;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #800000;
}
.text-pink {
  color: #eb0174;
}
.text-blue {
  color: #000044;
}
/***Tags***/
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; color: #ff6666;}
  .m { font-size: 1.2em;color: #cc3300; }
  .l { font-size: 1.8em;color: #ff0000; }
}

/****dropdown menu***/
.dropdown-menu>li>a {
  color:#fff;
}
.dropdown-menu>li>a:hover {
  background-color:#fff;
}
.dropdown ul.dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  margin-top:20px;
  width:300px;
  background-color: #493182;
}

/***Panels header***/
.panel-default > .panel-heading {
  color: #fff;
  background-color: #324981;
  border-color: #ddd;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgb(50,73,129);
  color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    padding-left: 100px;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    background-color: #493182;
    max-height: 340px;
  }

}

