/***Social sharing***/
.btn-twitter {
  background: #00acee;
  border-radius: 0;
  color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
  color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
  background: #0087bd;
  color: #fff
}
.btn-facebook {
  background: #3b5998;
  border-radius: 0;
  color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
  background: #30477a;
  color: #fff
}
.btn-googleplus {
  background: #e93f2e;
  border-radius: 0;
  color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
  color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
  background: #ba3225;
  color: #fff
}
.btn-stumbleupon {
  background: #f74425;
  border-radius: 0;
  color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
  color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
  background: #c7371e;
  color: #fff
}
.btn-linkedin {
  background: #0e76a8;
  border-radius: 0;
  color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
  color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
  background: #0b6087;
  color: #fff
}

//**Scroll div**//
.scroll {
  overflow-y: scroll; height:240px;
}
/*****Image Caption*****/
div.wrapper{
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
  //background-color: #fff;
}
div.caption{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0; /* position will be on bottom */
  left:0;
  width:100%;
  /* styling bellow */
  background-color:black;
  font-family: 'tahoma';
  font-size:15px;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
  padding:10px;
  margin:0;
}

.image-footer {
  position:absolute;
  width: 100%;
  height: 35px;
  padding-right: 20px;
  padding-top: 10px;
  background-color:black;
  opacity: 0.7;
  filter:alpha(opacity=60); /* IE transparency */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
}

.mcard-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}
/***New Post***/

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  text-align: right;
  display: block;
  margin-top: 60px;
}
.box-icon {
  background-color: #A93CAE;
  border-radius: 50%;
  display: table;
  height: 80px;
  margin: 0 auto;
  width: 80px;
  margin-top: -61px;
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info > p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px;
  text-align: justify;
}
.info > a {
  background-color: #03a9f4;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > a:hover {
  background-color: #0288d1;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.dark {
     clear: both;

  }