/****Avatar ***/
.round-image-50 {
  background-color: darkblue;

  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 25px;
  width: 25px;
  overflow: hidden;

  img { width: 100% }
}
/****Users index/show****/

// Columns

.users.row {
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
}

@media (min-width: 992px) {
  .users.row {
    -moz-column-width: 13.5em;
    -webkit-column-width: 13.5em;
  }
}


// users index

.feed {
  width: 100%;
  text-align: center;
  padding-right: 50px;
  padding-left: 10px;

}

.panel {
  display: inline-block;
  padding:  0;
  margin:  0 0 10px 0;
  width:100%;
  img { width: 100%; }
}

// users show

.profile {
  text-align: center;
  .avatar { max-width: 100%; }
  ul {
    list-style: none;
    padding: 0;
  }
}

.users .panel-body {
  padding: 0;
  p {
    margin: 10px;
    overflow-x: scroll;
  }
  &:hover {
    background-color: #fcfcfc;
    box-shadow: 0 0 3px #b7b7b7;
  }
}


@media (min-width: 768px) {
  .feed {
    text-align: center;
    position: absolute;
    right: 0;
    top:3px;
    bottom:0;
    border-left: 1px dotted #e4e4e4;
    width: 63%;
    overflow-y: scroll;
  }
  .profile {text-align: left}
}

/*
Creating a block for social media buttons
*/
.card-body-social {
  font-size: 30px;
  margin-top: 10px;
}
.card-body-social .git {
  color: black;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .twitter {
  color: #19C4FF;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .google-plus {
  color: #DD4B39;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .facebook {
  color: #49649F;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .linkedin {
  color: #007BB6;
  cursor: pointer;
  margin-left: 10px;
}

.music-card {
  background-color: green;
}

/***User Profile***/

body
{
  font-family: 'Lato', 'sans-serif';
}
.profile
{
  min-height: 355px;
  display: inline-block;
}

.divider
{
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis
{
  border-top: 4px solid transparent;
}
.emphasis:hover
{
  border-top: 4px solid #1abc9c;
}
.emphasis h2
{
  margin-bottom:0;
}
span.tags
{
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
.dropdown-menu
{
  background-color: #34495e;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
  margin-left: -125px;
  left: 50%;
}
.dropdown-menu .divider
{
  background:none;
}
.dropdown-menu>li>a
{
  color:#f5f5f5;
}
.dropup .dropdown-menu
{
  margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}