<!--
<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @categories.each do |category| %>
      <tr>
        <td><%#= category.name %></td>
        <td><%#= link_to 'Show', category %></td>
        <td><%#= link_to 'Edit', edit_category_path(category) %></td>
        <td><%#= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Category', new_category_path %>
-->
