<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%#= @category.name %>
</p>

<h3> Products under this category </h3>
<% Post.where(category_id: @category.id).each do |p| %>
    <li> <%= p.title %> </li>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
