<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to "Home", root_path, class: 'navbar-brand' %>

        <% if current_user %>
            <%= link_to new_post_path do %>
                  <span class=" glyphicon glyphicon-edit navbar-brand"><strong>New</strong></span>
                  <% end %>
        <% else %>
            <%= link_to 'Login', new_user_session_path,class: 'navbar-brand' %>
        <% end %>
      <!--new Post -->

    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-right navbar-nav">
        <% if current_user %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>&nbsp;&nbsp;
                    <span class="round-image-50 pull-right"><%= image_tag(current_user.avatar.url(:thumb)) %></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to edit_user_registration_path do %>
                        Account Settings<span class=" glyphicon glyphicon-cog pull-right"></span>
                        <% end %></li>
                    <li class="divider"></li>
                    <li><%= link_to user_path(current_user) do %>
                        User Profile <span class=" glyphicon glyphicon-stats pull-right"></span>
                        <% end %></li>
                    <li class="divider"></li>
                    <li><%= link_to  relationships_path do %>
                        Followers<span class=" glyphicon glyphicon-heart pull-right"></span>
                        <% end %></li>
                    <li class="divider"></li>
            <!--<li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
            <li class="divider"></li>
            <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
            <li class="divider"></li>-->
                    <li><%= link_to destroy_user_session_path, method: :delete do %>
                        Sign Out<span class=" glyphicon glyphicon-log-out pull-right"></span>
                    <% end %></li>
                </ul>
            </li>
            <% end %>
      </ul><!--user menu-->
      <ul class="nav navbar-right navbar-nav">
        <li><%= link_to 'Members', users_path %></li>
      </ul><!--Members-->

     <!-- <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <%#= form_for( search_posts_path, method: :get, role: 'search', class:'form-inline') do  %>
                <p>
                  <%#= text_field_tag :search, params[:search], class: 'form-control' %>
                  <%#= submit_tag 'Go', name: nil,class:'btn  btn-danger btn-xs' %>
                </p>
            <%# end %>

            &lt;!&ndash; <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right">
              <i class="glyphicon glyphicon-search"></i></button>
              <input type="text" class="form-control pull-left" placeholder="Search">
            </form>&ndash;&gt;
          </ul>
        </li>
      </ul>--><!--Search bar-->

    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%= link_to 'Discus', posts_path %>sed
          <br><p class="lead">already..!</p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row ">
            <div class="col-sm-12 text-center"><h3>University of the People</h3>

                <%= link_to 'http://uopeople.edu/',target:'blank' do %>
                  <%= image_tag 'applynow.jpg' %>
             <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"></div>
      </div>
    </div>
  </div><!-- /cont -->

</div>