<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/menu'%>
<%= render 'layouts/flash_messages'%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <%= breadcrumbs pretext: "",

                          style: :bootstrap,
                          separator: "",
                          link_curren: true,
                          semantic: true%>
  <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>
</body>
</html>