<% provide(:title, ' Edit Profile') %>
<% breadcrumb :edit_profile, @user %>
<h3>Edit <%= current_user.name %>'s Profile</h3>
<div class='top-spacer'></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { method: :put, class: 'form-horizontal' }) do |f| %>
    <%#= devise_error_messages! %>
    <%= render 'shared/error_messages', object: f.object %>


    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
        <div class='box'>
          <div class='info'>
            <!--Image Profile-->
            <h5 class='text-left'><span class='text-blue'>
              <%= f.label :Profile_Image, class: 'control-label'%>
              <%= f.file_field :avatar %></span>
            </h5>

            <!--Name-->
            <h5 class='text-left'>
              <%= f.label :name, class: 'control-label'  %>
              <%= f.text_field :name, autofocus: true, class: 'form-control'%>
            </h5>
            <!--Email-->
            <h5 class='text-left'>
             <%= f.label :email, class: 'control-label'%>
             <%= f.email_field :email, class: 'form-control'  %>
            </h5>
            <br>
            <!--Birth Date-->
            <h5 class="text-left">
              <%= f.label :date_of_birth, class: 'control-label'  %>
              <%= f.date_select :date_of_birth, start_year: 1920, end_year: 2000, class: 'form-control'  %>
            </h5>
            <!--Country-->
            <h5 class="text-left">
              <%= f.label :country_code, "Country", class: 'control-label' %>
              <%= f.country_select :country_code, class: 'form-control' %>
            </h5>
          </div>
        </div>
      </div>
      <!-- User info-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
          <div class="info">
            <!--Skills-->
            <h5 class="text-left">
              <%= f.label :skill, class: 'control-label'%>
              <div class="">
                <%= f.text_field :skill, autofocus: true, class: 'form-control'  %>
              </div>
            </h5>
            <!--About ME-->
            <h5 class="text-left">
              <%= f.label :about_me,class: 'control-label'%>
              <%= f.text_area :about, autofocus: true, class: 'form-control',rows:9 %>
            </h5>
          </div>
        </div>
      </div>
    </div><!--End row-->

    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
        <div class='box'>

          <div class='info'>
            <!--Social Links-->
            <!--Facebook-->
            <h5 class='text-left'>
              <%= f.label :Facebook, class: 'control-label'  %>
                <%= f.text_field  :facebook_acc, class: 'form-control', placeholder:'Ex.https://www.facebook.com/uopeople'  %>
                <i>(Copy & paste your profile link from your facebook account)</i>
            </h5>

            <!--Twitter-->
            <h5 class='text-left'>
              <%= f.label :Twitter, class: 'control-label'  %>
              <%= f.text_field  :twitter_acc, class: 'form-control', placeholder:'Ex.https://twitter.com/uopeople'  %>
              <i>(Copy & paste your profile link from your twitter account)</i>
            </h5>
            <!--Google plus-->
            <h5 class='text-left'>
              <%= f.label :GooglePlus,' Google Plus', class: 'control-label'  %>
              <%= f.text_field  :gplus_acc, class: 'form-control', placeholder:'Ex.https://plus.google.com/+uopeople'  %>
              <i>(Copy & paste your profile link from your google plus account)</i>
            </h5>
          </div>
        </div>
      </div>
      <!-- Password Change-->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">

          <!--Password-->
          <div class="info">
            <h5 class="text-left">
              <%= f.label :password, class: 'control-label'  %>
              <i>(leave blank if you don't want to change it)</i>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
            </h5>
            <!--Password Confirmation-->
              <h5 class="text-left">
                <%= f.label :password_confirmation, class: 'control-label' %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'%>
              </h5>
              <br>
                <!--Current Password-->
            <h5 class="text-left  text-capitalize text-danger" >
              <%= f.label :current_password, class: 'control-label' %>
              <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </h5>
          </div>
        </div>
      </div>
    </div><!--End row-->
<div class="top-spacer"></div>
<!--Sumbit-->
<div class="text-center">
    <p class="text-center"> <%= f.submit "Update", class: "btn btn-primary" %></p>
<% end %>
<br>
 </div>
<br>
<%= button_to "Unhappy! Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default btn-sm"%>
